@import "tailwindcss";

/* Config */
@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;

  /* Colors */
  --color-brand-dark: #333;
  --color-brand-gray: #f8f8f8;
  --color-brand-primary: #f28347;
  --color-brand-secondary: #00b533;

  /* Max Width */
  --max-width-base: 1280px;

  /* Height */
  --height-52: 52px;

  /* Breakpoints */
  --breakpoint-xs: 425px;
}

/* Base */
@layer base {
  html,
  body {
    @apply scroll-smooth;
  }

  body {
    @apply bg-brand-gray text-brand-dark font-inter;
  }

  h2 {
    @apply text-2xl font-semibold xs:text-3xl md:text-4xl lg:text-[40px];
  }

  button {
    @apply cursor-pointer;
  }

  input,
  select {
    @apply w-full h-14 bg-white px-7 rounded-full text-lg font-medium text-brand-dark border-2 border-transparent outline-none transition-colors duration-200 focus:border-brand-primary;
  }

  form button {
    @apply w-full bg-brand-primary !py-3.5 border-orange-800 text-lg hover:bg-orange-500;
  }

  .container-secondary {
    @apply max-w-base w-full mx-auto px-1.5 lg:px-5;
  }
}

@layer components {
  .btn-3d-wrapper {
    @apply flex items-end h-52;
  }

  .btn-3d {
    @apply flex items-center justify-center px-6 py-3 text-white border-b-4 font-medium rounded-full transition-[border-width,background-color] active:border-0;
  }
}

@layer utilities {
  .container {
    @apply max-w-base w-full px-5 mx-auto;
  }
}
